.timer_container {
  text-align: center;
  margin: 5px auto;
  max-width: 80%;
}

.countdown {
  padding-top: 30px;
}

.notice {
  max-width: 350px;
  text-align: center;
  margin: 5px auto;
  font-size: 16px;
}
